:root {
 --shadow-basic: 1px 2px 5px 0px rgba(0,0,0,.4);
 --dark-blue: #233E8B;
 --teal: #1EAE98;
 --mint: #A9F1DF;
 --yellow: #FFFFC7;
 --text-color: #ffffff;
}



.App {
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  background: var(--mint);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  height: 100vh;
  background: var(--mint)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body, .login-form{
  color: var(--text-color)
}

.dashboard {
  padding: 3rem;
}

.dashboard__experiences .card {
  box-shadow:  var(--shadow-basic);
  cursor: pointer;
}


.phrases {
padding: 3rem;
}

.phrases .card {
  margin: 1rem 0;
  box-shadow:var(--shadow-basic)
}

.options__buttons {
  display: flex;
  justify-content: center;
}

.phrases .card.phrases-card {
  background: var(--teal)
}


.login-form {
  padding: 5rem 3rem;
  margin-top: 5rem;
  background: var(--teal);
  border-radius: 10px;
  box-shadow: var(--shadow-basic);
  opacity: 1;
}

.login-form h3{
  font-size: 3rem;
}

.experiences {
  padding: 4rem 0;
}

@keyframes flip {
  from {
    
    transform:rotateY(180deg);
    color: white;
  }
  to {

    color: black;
    transform: rotateY(0deg);
  }
}


.flash-card{
  box-shadow: var(--shadow-basic);
}

.flash-card__phrase {
  font-size: 1.5rem;
}




.flip-animation.card {
  animation: flip .3s ease-in-out;
  box-shadow: none;
  border: none;
}

.login-form__inputs{
  margin: 3rem;
}

.card__grow {
  animation: grow .05s ease-in;
  font-size: 1.5rem;
}


.experiences__card {
  box-shadow: var(--shadow-basic);
  margin: .5rem 0;
}


@keyframes grow {
  from {
    font-size: 0;
  } to {
    font-size: 1.5rem;
  }
}